@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        margin-top: 15px;
    }

    100% {
        opacity: 1;
        margin-top: 0;
    }
}

.intro-y {
    animation: fadeIn .5s ease-in-out;
}

.main-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    display: flex;
    z-index: -1;
}

.hr-custom {
    border: 4px solid;
    border-color: #7C0041;
    opacity: 1;
}

.active-link {
    color: #014C90;
}

.navbar-nav {
    display: block;
    margin-right: 10px;
}

.nav-item {
    display: inline-block;
    list-style: none;
    padding: 5px;
    font-size: 15px;
}

.nav-dash {
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
}

.nav-dash:focus {
    color: #014C90;
}

.nav-link:focus {
    color: #014C90;
}

.nav-app:focus {
    color: #014C90;
}

/* Breakfix Daftar EQ */

.search-dropdown-breakfix {
    width: 100%;
    height: 50px;
    border-radius: 0;
    border: 1px solid #797979;
    padding-left: 10px;
    margin-bottom: 3%;
}

.search-dropdown-breakfix:focus {
    border: 2px solid #014C90;
    outline: none;
}

.dropdown-item-breakfix {
    font-size: 14px;
    padding: 10px 20px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #797979;
}

.dropdown-item-breakfix:hover {
    background-color: #f8f8f8;
}

/* Supplies Daftar EQ */

.search-dropdown-supplies {
    width: 100%;
    height: 50px;
    border-radius: 0;
    border: 1px solid #797979;
    padding-left: 10px;
    margin-bottom: 3%;
}

.search-dropdown-supplies:focus {
    border: 2px solid #014C90;
    outline: none;
}

.dropdown-item-supplies {
    font-size: 14px;
    padding: 10px 20px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #797979;
}

.dropdown-item-supplies:hover {
    background-color: #f8f8f8;
}

/* Install Daftar EQ */
.search-dropdown-install {
    width: 100%;
    height: 50px;
    border-radius: 0;
    border: 1px solid #797979;
    padding-left: 10px;
    margin-bottom: 3%;
}

.search-dropdown-install:focus {
    border: 2px solid #014C90;
    outline: none;
}

.dropdown-item-install {
    font-size: 14px;
    padding: 10px 20px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #797979;
}

.dropdown-item-install:hover {
    background-color: #f8f8f8;
}


/* Dropdown */
/* CSS Kustom untuk menghilangkan tanda panah di NavDropdown */
.custom-dropdown .dropdown-toggle::after {
    display: none;
    /* Menghilangkan tanda panah ke bawah */
}

.navdropdown {
    position: absolute;
    top: 15px;
}

.dropdown:hover {
    background: none;
    color: #000;
}

/* Style the Dropdown Toggle */
.dropdown-toggle {
    font-size: 12px;
    /* Sesuaikan dengan ukuran font yang Anda gunakan pada item navbar lainnya */
    color: grey;
    /* Sesuaikan warna teks sesuai kebutuhan */
    text-decoration: none;
    /* Hilangkan underline pada tautan dropdown */
    background: none;
    border: none;
}

.dropdown-toggle:hover {
    background: none;
    color: #000;
    text-decoration: none;
}

/* Style the Dropdown Menu */
.dropdown-menu {
    width: 250px;
    background-color: #fff;
    /* Sesuaikan warna latar belakang sesuai kebutuhan */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    /* Tambahkan bayangan sesuai kebutuhan */
}

/* Style Dropdown Items */
.dropdown-item {
    font-size: 14px;
    /* Sesuaikan dengan ukuran font yang Anda gunakan pada item navbar lainnya */
    padding: 10px 20px;
    /* Sesuaikan padding sesuai kebutuhan */
    color: #000;
    /* Sesuaikan warna teks sesuai kebutuhan */
    text-decoration: none;
    /* Hilangkan underline pada tautan dropdown */
}

/* Hover effect on Dropdown Items */
.dropdown-item:hover {
    background-color: #f8f8f8;
    /* Sesuaikan warna latar belakang saat hover sesuai kebutuhan */
}

.w-md-25 {
    width: 25%!important;
}

/* Add responsiveness for smaller screens */
@media (max-width: 768px) {

    /* Reset styles for Dropdown Toggle on smaller screens */
    .dropdown-toggle {
        font-size: 12px;
        color: grey;
        text-decoration: none;
    }

    /* Reset styles for Dropdown Items on smaller screens */
    .dropdown-item {
        padding: 10px 20px;
    }

    .dropdown-menu {
        width: 0px !important;
        background-color: #fff;
        /* Sesuaikan warna latar belakang sesuai kebutuhan */
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
        /* Tambahkan bayangan sesuai kebutuhan */
        transform: translate3d(-4.57143px, 25.1429px, 0px) !important;
    }
}

/*tulis review*/
.review-text::placeholder {
    display: none;
    color: #bfbfbf;
}



.review-container .review-text {
    padding-left: 10px;
}

/* .item-drop:hover {
    background-color: #f1f1f1;
} */

.text-link {
    font-size: 14px;
    color: #014C90;
    padding: 0;
}

.text-link:hover {
    background-color: #ebeef4;
}

.text-link:focus {
    color: #4154F1 !important;
}

.row-height {
    height: 90vh;
}

.border-only-bottom {
    border: none;
    border-bottom: 2px solid #cccccc !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    outline: none !important;
    padding: 5px 0;
    font-size: 14px;
    background: transparent;
}

.border-only-bottom:focus {
    border-bottom: 2px solid #41abf1 !important;
    background: transparent;
}

.border-only-bottom.invalid,
.border-only-bottom.is-invalid {
    border-bottom: 1px solid #bc4a4a !important;
}

.border-only-bottom.invalid:focus,
.border-only-bottom.is-invalid:focus {
    border-bottom: 2px solid #c00000 !important;
}

.btn-login {
    background-color: #014C90;
    color: #fff;
    font-size: 14px;
}

.btn-login:hover {
    background-color: #105ca3;
    color: #fff;
}

.size-13px {
    font-size: 13px;
    color: #014C90;
}

.title-icare {
    color: #014C90;
}

.card-about {
    background-color: #F6F9FF;
}

.description-icare {
    font-size: small;
}

.section-about {
    height: 60vh;
}

.custom-height {
    height: calc(100% - 3rem) !important;
}

.list-items {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 3rem !important;
    display: block;
}

.footer-items {
    color: #000;
    text-decoration: none;
}

/* Checkbox normal tanpa tanda centang */
input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    position: relative;
}

/* Menggunakan pesawat pesawat sejajar untuk menyembunyikan tanda centang */
input[type="checkbox"]::before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
}

/* Checkbox color dengan latar belakang berwarna */
input[type="checkbox"].consumable-checkbox-color {
    background-color: transparent;
}

/* Mengatur latar belakang berwarna saat dicentang */
input[type="checkbox"].consumable-checkbox-color-toner-black:checked::before {
    background-color: black;
    /* Ganti dengan warna yang sesuai */
    border: 0;
    /* Menghilangkan garis tepi */
}

input[type="checkbox"].consumable-checkbox-color-toner-cyan:checked::before {
    background-color: cyan;
    /* Ganti dengan warna yang sesuai */
    border: 0;
    /* Menghilangkan garis tepi */
}

input[type="checkbox"].consumable-checkbox-color-toner-magenta:checked::before {
    background-color: magenta;
    /* Ganti dengan warna yang sesuai */
    border: 0;
    /* Menghilangkan garis tepi */
}

input[type="checkbox"].consumable-checkbox-color-toner-yellow:checked::before {
    background-color: yellow;
    /* Ganti dengan warna yang sesuai */
    border: 0;
    /* Menghilangkan garis tepi */
}

input[type="checkbox"].consumable-checkbox-color-drum-black:checked::before {
    background-color: black;
    /* Ganti dengan warna yang sesuai */
    border: 0;
    /* Menghilangkan garis tepi */
}

input[type="checkbox"].consumable-checkbox-color-drum-cyan:checked::before {
    background-color: cyan;
    /* Ganti dengan warna yang sesuai */
    border: 0;
    /* Menghilangkan garis tepi */
}

input[type="checkbox"].consumable-checkbox-color-drum-magenta:checked::before {
    background-color: magenta;
    /* Ganti dengan warna yang sesuai */
    border: 0;
    /* Menghilangkan garis tepi */
}

input[type="checkbox"].consumable-checkbox-color-drum-yellow:checked::before {
    background-color: yellow;
    /* Ganti dengan warna yang sesuai */
    border: 0;
    /* Menghilangkan garis tepi */
}

/* Search Daftar EQ */
.fa.fa-search {
    margin-right: 10px;
    color: #014C90;
}

.search input[type=text] {
    width: 300px;
    margin-right: 10px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.fa.fa-close {
    margin-right: 20px;
    color: #014C90;
}

.slick-list {
    max-height: 60vh;
    padding: 30px !important;
}

.slick-slide {
    transform: scale(.9);
    transition: 3s;
}

.slick-slide.slick-center {
    transform: scale(1.05);
    margin-left: 1rem;
    margin-right: 1rem;
    transition: 3s;
}


.slick-dots {
    bottom: -50px !important;
}

.slick-dots li {
    width: 10px !important;
    height: 10px !important;
    border: 1px solid #005cdc;
    border-radius: 50%;
    transition: .5s ease-in-out;
}

.slick-dots li.slick-active,
.slick-dots li:hover {
    background: #005cdc;
    transition: .5s ease-in-out;
}

.slick-dots li button {
    opacity: 0;
}

.btn.disabled,
.btn-secondary-custom {
    background-color: #9c9c9c;
    border: none;
    color: #fff;
}

.btn-secondary-custom:hover,
.btn-secondary-custom:focus {
    background-color: #838383;
    border: none;
    color: #fff;
}

.disabled-input:disabled {
    background-color: #9c9c9c;
}

td {
    font-size: 14px;
}

.btn-proses {
    border: 1px solid #014C90;
    text-decoration: none;
    color: #014C90;
    background-color: #ffffff;
}

.btn-proses:hover {
    background-color: #f6f5ff;
}

.btn-proses:focus,
.btn-proses.active {
    background-color: #014C90;
    color: #fff !important;
}

.input-error:disabled {
    background-color: #bfbfbf;
}

.input-email:disabled {
    color: #bfbfbf !important;
    background-color: transparent;
}

.input-error:focus {
    border-color: #00c8ff;
    outline: none;

}

.input-page {
    border: 1.5px solid;
}

.input-page:disabled {
    background-color: #fff;
}

.input-page:focus {
    border: 2px solid #00c8ff;
    outline: none;
}

.input-consumable {
    padding: 10px;
}

.input-consumable:disabled {
    background-color: #bfbfbf;
}

.input-consumable:focus {
    border-color: #00c8ff;
    outline: none;
}

.custom-width {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.no-hover {
    /* border: 1px solid black; */
    /* height: 45px; */
    /* border: none !important; */
    width: 200px;
    border-radius: 0px;
    padding-left: 0.5rem !important;
}

.no-hover:focus {
    outline: none;
    border-color: black;
    box-shadow: none;
}

.data-diri {
    display: block;
    width: 100px;
    border: none;
    border-radius: 0px;
}

.form-check-input {
    border: 2px solid #797979;
}

.form-check-input:checked {
    box-shadow: none;
}

.form-check-input:focus {
    box-shadow: none;
}

.form-color {
    background-color: #014C90;
    border-color: #014C90 !important;
}

.custom-radio:checked {
    background-color: green;
    border: green;
}

#inputFiles::file-selector-button {
    display: none;
}

#inputFilesSelfie::file-selector-button {
    display: none;
}

.tab-collect {
    color: black !important;
}

.active {
    color: rgba(1, 76, 144, 1) !important;
}

.tab-collect:focus {
    color: rgba(1, 76, 144, 1) !important;
}

.link-riwayat-meter {
    text-decoration: none;
    color: black;
}


/* riwayat */

.scrolling-riwayat {
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
}

@media(min-width: 1024px) {
    .column-request {
        width: 20% !important;
    }
    .column-track {
        width: 39% !important;
    }
    .column-btn {
        width: 21% !important;
    }
}

/* dashboard-banner */
.banner-desktop {
    position: relative;
    top: -25px;
    /* Sesuaikan dengan tinggi navbar Anda */
    z-index: 1;
    /* Pastikan banner ada di atas konten lain */
}

.banner-news {
    max-width: 100%;
    height: auto;
}


/* review */
/* Gaya CSS untuk bintang */
.fa-star {
    color: #bfbfbf;
    /* Warna default bintang */
    cursor: pointer;
    /* Kursor berubah menjadi tangan saat diarahkan */
}

/* Gaya CSS untuk bintang yang dipilih (berwarna kuning) */
.fa-star.yellow {
    color: #FEE717;
    /* Warna kuning */
}


.btn-alert:hover {
    background: #005cdc !important;
}

.btn-remove {
    color: #014C90;
}

.btn-remove:hover {
    background: #d3e6ff;
    color: #014C90;
}

.custom-input-number::-webkit-outer-spin-button,
.custom-input-number::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.btn-google {
    border-radius: 0;
    font-size: 14px;
    color: #9c9b9b !important;
}

.btn-google:hover {
    background: #edecec;
    box-shadow: rgba(20, 0, 10, 0);
}

.btn-google:focus {
    border: none;
}

.card-news {
    margin: 0 -1rem !important;
}

/*informasi desktop*/
.card-information.info-card {
    background-color: #4597e4;
    transition: background-color 0.3s ease;
}

.card-information {
    background-color: white;
}

.image-collect-meter {
    width: 52px;
}

.image-size-capture {
    max-width: 800px;
    max-height: 600px;
}

.btn-download:hover{
    background-color: #014C90;
    color: #ffffff !important;
}
/* .btn-download:hover span {
} */

.card-message-send {
    height: 12%;
    background-color: white;
    border-radius: 0 0 10px 0;
    /* margin-top: 15px; */
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    width: 100%;
    /* white-space: normal; */
}

/* Media Query */
@media(max-width: 768px) {

    .space-option {
        padding: 0px !important;
        margin-right: 10px !important;
    }

    .font-size-12px-mobile, .label-supplies {
        font-size: 12px !important;
    }

    .font-size-11px-mobile {
        font-size : 11px !important;
    }

    .padding-top-bottom {
        padding-top: 1px !important;
        padding-bottom: 1px !important;
    }

    .padding-right-10px-mobile {
        padding-right: 10px !important;
    }
    .custom-form {
        height: 36px !important;
    }
    .text-field {
        top: 0 !important;
        font-size: 11px !important;
    }
    .text-help {
        font-size: 12px !important;
        line-height: 17px !important;
    }

    /* bottom-bar */
    .content-menus {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
    
    .content-menus::-webkit-scrollbar {
        width: 0;
    }

    .menu-items {
        height: calc(100vh - 60px);
        overflow-y: auto;
        padding-bottom: 3rem;
        position: relative;
    }

    .bottom-bar {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background: #014C90;
        color: #fff;
        padding: 15px 10px;
    }

    .bottom-bar a {
        color: #fefefe;
        text-decoration: none;
    }

    .bottom-bar a i {
        display: block;
        padding: 0;
        margin: 0;
    }

    .bottom-bar a span {
        font-size: 12px;
    }

    .bottom-bar .bottom-bar-line {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: calc(100% / 3);
        background: #fff;
    }

    .menus-bottom {
        font-weight: lighter;
    }

    .p-15px {
        padding: 15px !important;
    }

    .p-5px {
        padding: 5px !important;
    }
    .p-0px {
        padding: 0px !important;
    }
    .p-0px input {
        width: 80% !important;
        margin-left: 14px !important;
    }

    /* form login */
    .background,
    .main-background {
        display: none;
    }

    .title-solusi {
        display: none;
    }

    .row-height {
        align-items: center;
        height: 100vh;
        margin: 0 !important;
    }

    .py-xs-0 {
        padding: 0 !important;
    }

    .row-height .card,
    .responsive-breakfix,
    .responsive-install .responsive-supplies, .responsive-detailriwayatmeter {
        box-shadow: none !important;
        border: none !important;
    }

    .login-image {
        width: 100px;
        margin-bottom: 5rem;
    }

    .cp-mobile {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        font-size: 12px;
    }

    /* dashboard */
    .list-items {
        margin-bottom: 4rem !important;
    }

    .news h5.card-title {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .news p.card-text {
        font-size: 12px;
        margin-top: 1.5rem;
        margin-bottom: 1px;
    }

    .news h4.card-title {
        font-weight: bold;
        font-size: 20px;
    }

    .card-news {
        flex-wrap: nowrap !important;
        flex-direction: row !important;
        overflow-x: scroll;
    }

    .card-news>* {
        margin: 5px 0 !important;
    }

    .menus {
        margin-bottom: 11rem !important;
    }

    .menus-title {
        font-weight: normal !important;
        font-size: 12px !important;
    }

    .menus-icon {
        width: 80% !important;
    }

    .banner-news {
        max-width: 100%;
        height: 100%;
    }


    /* navbar mobile */
    .responsive-bar {
        position: sticky;
        background: #014C90;
        top: 0;
        /* left: 0;
        right: 0; */
        width: 100% !important;
        z-index: 11111;
        padding: 20px 15px;
    }

    .responsive-bar~*:nth-child(1) {
        margin-top: 45px !important;
    }

    .responsive-bar * {
        color: #fff;
    }

    .responsive-bar>* {
        width: 100% !important;
        padding: 0 !important;
    }

    .responsive-bar>a {
        margin: 0 !important;
        padding: 0 !important;
    }

    .responsive-bar>a>i,
    .responsive-bar>a>span {
        color: #fff !important;
    }

    .responsive-bar>h5 {
        margin: 0 !important;
        padding: 0 !important;
    }

    .responsive-bar .card-title>h5,
    .responsive-bar .card-title>h5 {
        color: #fff !important;
    }

    .responsive-bar strong {
        margin: 0 !important;
        padding: 0 !important;
    }

    .responsive-bar .card-title strong,
    .responsive-bar .card-title strong {
        color: #fff !important;
    }

    .title-fitur {
        font-weight: normal !important;
    }


    /* kebijakan privasi */
    .custom-card {
        border: none !important;
        border-radius: 5px !important;
        box-shadow: 0 1px 6px;
        margin-top: 1rem !important;
        padding-top: 10px !important;
        padding-left: 10px !important;
        padding-bottom: 20px !important;
        padding-right: 10px !important;
        max-height: 45vh;
        overflow-y: auto;
    }

    .custom-card>p {
        text-align: justify;
        font-size: 16px !important;
        line-height: 12px;

    }

    /* register */
    .responsive-register .card {
        box-shadow: none;
        border: none;
    }

    .input-mobile .size-13px {
        background: #014C90;
        width: 100%;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 5px;
    }

    .input-mobile label {
        color: #fff !important;
        font-weight: normal !important;
    }

    .input-mobile .form-control {
        border: 1px solid #cccccc;
        margin-top: 0 !important;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
    }

    .input-mobile .form-control:focus {
        border: 2px solid #00c8ff;
    }

    .input-mobile .border-only-bottom.is-invalid,
    .border-only-bottom.invalid {
        border: 1px solid #bc4a4a !important;
    }

    .input-mobile .border-only-bottom.is-invalid,
    .border-only-bottom.invalid:focus {
        border: 2px solid #c00000 !important;
    }

    /* breakfix */
    .input-check .check-item {
        margin-bottom: 5px !important;
    }

    .input-check .check-item>label {
        font-size: 11px !important;
    }

    .input-check .form-check>label {
        font-size: 11px !important;
    }

    .btn-plus {
        height: 33px !important;
        width: 45px !important;
    }

    .select-option {
        height: 35px !important;
    }

    .title-lable {
        font-size: 12px !important;
    }

    .form-breakfix {
        height: 35px !important;
        font-size: 12px;
    }

    .dropdown-breakfix {
        width: 72% !important;
        top: 11% !important;
    }

    .search-dropdown-breakfix:focus {
        border: 2px solid #014C90 !important;
        outline: none !important;
    }

    /* lupa-password */
    .responsive-lupa-pass .card {
        border: none !important;
        box-shadow: none !important;
    }

    /* kode-OTP */
    .bg-light {
        background: white !important;
    }

    .responsive-otp {
        display: flex;
        height: 100vh;
        justify-content: center !important;
        align-items: center !important;
    }

    .responsive-otp .card {
        border: none !important;
        box-shadow: none !important;
        margin-top: 65px;
        background: white !important;
    }

    .text-otp {
        text-align: center !important;
    }

    .responsive-otp .border-only-bottom {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    /* data-diri */
    .responsive-data-diri .card {
        border: none !important;
        box-shadow: none !important;
    }

    /* supplies */
    .responsive-supplies .card {
        box-shadow: none !important;
    }

    .form-supplies {
        height: 35px !important;
        font-size: 12px;
    }

    .label-supplies {
        font-size: 12px !important;
    }

    .responsive-supplies .col-6 {
        padding: 0 !important;
    }

    .responsive-supplies .consumable-checkbox {
        width: 15px !important;
        height: 15px !important;
    }

    .responsive-supplies .form-check-input {
        width: 15px !important;
        height: 15px !important;
    }

    .responsive-supplies .input-check .margin {
        width: 65% !important;
    }

    .check-supplies {
        margin-top: 21px !important;
    }

    .responsive-supplies .input-check .check-check .input-consumable {
        width: 100% !important;
    }

    .search-dropdown-supplies {
        height: 35px !important;
    }

    .dropdown-supplies {
        width: 309px !important;
        top: 93px !important;
    }

    .search-dropdown-supplies:focus {
        border: 2px solid #014C90 !important;
        outline: none !important;
    }

    /* ubah-kata-sandi */
    .responsive-ubah-pass .card {
        border: none !important;
        box-shadow: none !important;
    }

    .responsive-ubah-pass .label-update {
        font-size: 15px !important;
        color: #014C90 !important;
        margin-bottom: 4px;
    }

    /* .responsive-ubah-pass .border-dark { */
        /* width: 80% !important; */
        /* height: 50px !important; */
        /* border: 1px solid #393939 !important; */
    /* } */

    .responsive-ubah-pass .fa {
        margin-left: -20px !important;
        color: #797979 !important;
        padding-left: 12px !important;
    }

    .input-update-password {
        margin-left: 17% !important;
    }

    .btn-ubah-pass {
        padding: 20px !important;
        width: 40% !important;
        border-radius: 10px !important;
        margin-top: -20px !important;
    }

    .text-danger-update-pass {
        padding: 0 !important;
        margin-left: 3px !important;
    }

    /* berita-terbaru */
    .responsive-news {
        border: none !important;
        box-shadow: none !important;
        /* margin-top: 65px; */
        background: white !important;
    }

    .table-width {
        max-width: 100% !important;
    }

    .bottom-news {
        width: 45% !important;
    }

    .bottom-position {
        text-align: center !important;
    }

    /* upgrade-step1 */
    .responsive-upgrade-step1 {
        padding-top: 50px;
    }

    .responsive-upgrade-step1 .fa {
        font-size: 5em !important;
    }

    .margin-bottom-70px {
        margin-bottom: 70px !important;
    }

    .responsive-upgrade-step1 .border-dark {
        border-radius: 10px !important;
        border-color: #014C90 !important;
        border-width: 3px !important;
        height: 305px !important;
        margin-bottom: 100px !important;
    }

    .responsive-upgrade-step1 img {
        width: 60% !important;
    }

    .responsive-upgrade-step1 h5 {
        font-size: 14px !important;
    }

    .responsive-upgrade-step1 .btn-login {
        padding: 15px 45px !important;
    }

    /* upgrade-step2 */
    .responsive-upgrade-step2 {
        border: none !important;
    }

    .responsive-upgrade-step2 .card-body {
        padding-top: 1rem !important;
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

    .btn-photo {
        padding: 15px 16px !important;
    }

    .btn-selfie {
        padding: 15px 7px !important;
        width: 100% !important;
    }

    /* upgrade-step3 */
    .responsive-upgrade-step3 {
        padding-top: 185px !important;
    }

    .responsive-upgrade-step3 .text-center {
        margin-left: 2em !important;
        margin-right: 2em !important;
    }

    .responsive-upgrade-step3 .text-center img {
        width: 40% !important;
    }

    .responsive-upgrade-step3 h5 {
        font-size: 20px !important;
    }

    .responsive-upgrade-step3 h4 {
        font-size: 16px !important;
    }

    /* form-alamat */
    .responsive-form {
        border: none !important;
        box-shadow: 0 0 10px rgba(0, 0, 0, .4) !important;
        background: white !important;
    }

    .default-height {
        height: auto !important;
    }

    .color-arrow-left {
        color: #fff !important;
    }

    /* Form EQ */
    .nama-model {
        width: 95% !important;
    }

    .dropdown-alamat {
        width: 92% !important;
    }

    /* informasi */
    .image-information {
        width: 60% !important;
    }

    .margin-close {
        margin-left: 95% !important;
    }

    .responsive-informasi .card {
        border: none !important;
        box-shadow: none !important;
    }

    .responsive-informasi p {
        font-size: 14px;
    }

    .responsive-informasi h6 {
        font-size: 14px;
    }

    .responsive-informasi i {
        font-size: 12px;
    }

    .card-information.info-card {
        background-color: #4597e4;
        transition: background-color 0.3s ease;
    }

    .card-information {
        background-color: white;
    }

    .information-popup {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100% !important;
        background-color: white;
        display: block;
        border-radius: 25px 25px 0 0;
        border: 2px solid rgb(219, 219, 219);
    }

    .popup-button {
        margin: 0 !important;
        margin-left: -40px !important;
        font-size: 110% !important;
        color: #ababab !important;
    }

    .list-description {
        text-overflow: ellipsis !important;
        overflow: hidden !important;
        white-space: nowrap !important;
    }

    .btn-informasi {
        border-radius: 7px !important;
    }

    /* install-request */
    .responsive-install .card {
        padding-left: 0.25rem !important;
        padding-right: 0.25rem !important;
    }

    .form-install {
        height: 35px !important;
        font-size: 12px;
    }

    .dropdown-install {
        width: 72% !important;
        top: 93px !important;
    }

    .search-dropdown-install:focus {
        border: 2px solid #014C90 !important;
        outline: none !important;
    }

    /* Alamat */
    .h-address {
        height: 61px !important;
    }

    .responsive-address {
        margin-top: -25px !important;
    }

    .responsive-address .nav-item,
    .responsive-eq .nav-item {
        font-size: 14px !important;
    }

    .responsive-eq {
        display: contents !important;
    }

    .responsive-eq .nav-item {
        font-size: 12px !important;
    }

    .text-position-right {
        text-align: end !important;
    }

    .text-position-center {
        text-align: center !important;
    }

    .fs-mobile {
        font-size: 11px !important;
    }

    .fs-mobile-bold {
        font-size: 12px !important;
    }

    .icon-maps {
        width: calc(100% ) !important;
    }

    .verified-icon {
        width: 100% !important;
    }

    .responsive-eq img {
        height: 45px !important;
    }

    /* Tulis Review Rating */
    .responsive-tulis-review {
        border: none !important;
        box-shadow: none !important;
        margin-top: 15%;
    }

    .review-container .mt-2 {
        background-color: transparent !important;
        padding-bottom: 0 !important;
    }

    .review-container .review-text {
        padding: 0 !important;
    }

    /* Collect Meter */
    .responsive-collect-meter {
        box-shadow: none !important;
        border: none !important;
    }

    .button-foto-meter {
        width: 50% !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }

    .dropdown-collect-meter {
        width: 81% !important;
        top: 31% !important;
    }
    .dropdown-collect-meter-ischecked {
        width: 81% !important;
        top: 23% !important;
    }

    .scrolling-riwayat {
        max-height: none !important;
        /* overflow-y: ; */
    }

    .image-collect-meter {
        width: 45px !important;
    }

    .image-size-capture {
        width: 80% !important;
    }

    .title-bold {
        font-weight: bold !important;
    }

    /* Tanya Tim Support (Chat) */

    .responsive-tanya-tim .card {
        box-shadow: none !important;
        border: none !important;
    }

    .responsive-tanya-tim .card-support {
        border: none !important;
        border-radius: 0 !important;
        height: 500% !important;
    }

    .responsive-tanya-tim .info {
        position: fixed !important;
        border: 2px solid #014C90;
        border-radius: 10px !important;
        width: 90% !important;
        height: 17% !important;
        box-shadow: 1px 1px 5px 1px gray !important;
    }

    .info p {
        font-size: 12px !important;
        text-align: left;
        margin-top: 0 !important;
        margin-left: 9px !important;
    }

    .info .date {
        margin-top: 5px !important;
    }

    .info .request {
        margin-top: 5px !important;
        font-size: 16px !important;
        text-align: center !important;
    }

    .responsive-tanya-tim .chat {
        border-left: none !important;
        border-top: 3px solid #014C90;
        border-radius: 0 !important;
        height: 490px !important;
        margin-top: 50% !important;
        /* box-shadow: 0px 1px 2px 0px gray !important; */
    }

    .card-chat {
        max-height: 420px !important;
    }

    .card-bubble-chat {
        /* margin-top: 5% !important; */
        width: 50% !important;
        /* margin-left: 75% !important; */
    }

    .card-message-send {
        /* margin-top: 223px !important; */
        border-radius: 0 !important;
        /* height: 10% !important; */
        /* box-shadow: 0 1px 2px 0 gray !important; */
    }

    .input-chat {
        width: 82% !important;
    }

    /* Riwayat Index */
    .responsive-bar .search-riwayat {
        background: none !important;
        border: none !important;
        width: 70% !important;
        outline: none !important;
        box-shadow: none !important;
        border-radius: 0 !important;
        padding: 10px 0 !important;
    }

    .responsive-bar .search-riwayat:focus {
        border-bottom: 2px solid #41abf1 !important;
        color: #fff !important;
        padding: 10px 0 !important;
    }

    .responsive-bar .search-riwayat::placeholder {
        color: white !important;
    }

    /* Riwayat Tabel */
    .border-tabel-riwayat {
        border-right: none !important;
    }

    .border-tabel-riwayat-bottom {
        border-right: none !important;
        border-bottom: 1px solid #ababab !important;
        width: 380px !important;
        margin-left: 12px !important;
    }
    

    /* Riwayat Detail Permintaan */
    .btn-tanya {
        width: 65% !important;
        padding: 10px !important;
    }

    .responsive-detail-permintaan .col-11 {
        margin-left: 20px !important;
    }

    .responsive-detail-permintaan .col-10 {
        width: 55% !important;
    }

    .responsive-detail-permintaan .col-3 {
        width: 55% !important;
    }

    .internal-proses {
        border-bottom: 1px solid black !important;
        padding-bottom: 12px !important;
        width: 339px !important;
    }

    .date-internal-proses {
        border-bottom: 1px solid black !important;
        padding-bottom: 12px !important;
        width: 85% !important;
    }

    .notes-internal-proses {
        border-top: 1px solid black !important;
        width: 339px !important;
    }

    .awal-permintaan {
        border-bottom: 1px solid black !important;
        padding-bottom: 12px !important;
        width: 339px !important;
    }

    .date-awal-permintaan {
        border-bottom: 1px solid black !important;
        padding-bottom: 12px !important;
        width: 85% !important;
    }

    .ditolak {
        border-bottom: 1px solid black !important;
        padding-bottom: 12px !important;
        width: 339px !important;
    }

    .date-ditolak {
        border-bottom: 1px solid black !important;
        padding-bottom: 12px !important;
        width: 85% !important;
    }

    .notes-ditolak {
        border-top: 1px solid black !important;
        width: 339px !important;
        padding-top: 5px !important;
    }

    /* responsive riwayat */
    .responsive-riwayat {
        margin-top: 0!important;
    }

    .responsive-riwayat .card-body {
        padding: 10px 15px!important;
    }

    .responsive-riwayat .card-body > .table-responsive {
        padding: 5px 0px 15px;
        margin-bottom: 15px!important;
    }

    .responsive-riwayat .card-body .card {
        font-size: calc(100% - 2px);
    }

    .responsive-riwayat .card-body .card .reject-title {
        padding: 8px 0px!important;
    }

    .responsive-riwayat .card-body .card .row > * {
        border: 0!important;
        border-bottom: 1px solid #ccc!important;
    }

    .responsive-riwayat .card-body .card .row > .remove-border {
        border-bottom: unset !important;
    }

    .responsive-riwayat .card-body .card .row > div:nth-child(3) {
        transform: scale(.9);
        padding-bottom: 4rem!important;
    }

    .responsive-riwayat .card-body .card .row > div:nth-child(4) {
        transform: scale(.8);
        padding: 0!important;
        padding-bottom: 1.5rem!important;
    }

    .responsive-riwayat .card-body .card .row > div:nth-child(4) > a {
        max-width: 250px;
        margin: unset!important;
        margin-left: auto!important;
    }

    .tracking-item {
        gap: 0!important;
        margin-top: 1rem;
    }

    .w-75 {
        width: 75%!important;
    }
}   

.nowrap {
    white-space: nowrap;
}

*[role="combobox-icon"] {
    position: absolute;
    top: 28px;
    left: 35px;
    z-index: 99999;
}

input[role="combobox"] {
    position: absolute;
    left: 20px;
    right: 20px;
    top: 15px;
    z-index: 9999;
    padding: 10px 10px 10px 40px;
    outline: none!important;
    border-radius: 5px;
    border: 1px solid #b2b2b2!important;
    transition: .2s ease-in-out;
}

input[role="combobox"]:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    border: 1px solid #005cdc!important;
    transition: .2s ease-in-out;
}

ul[role="listbox"] {
    position: absolute;
    top: 70px;
    left: 20px;
    right: 20px;
    background: #fff;
    z-index: 99999;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3)
}

ul[role="listbox"] li {
    padding: 10px 16px;
    transition: .5s ease-in-out;
}

ul[role="listbox"] li:hover {
    background: #ebeaea;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.bottom-bar a {
    color: grey;
    transition: .5s ease;
}

.bottom-bar a.active {
    color: white !important;
    transition: .5s ease;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    width: 5px;
    background: #ccc;
}

.table-responsive::-webkit-scrollbar {
    height: 5px;
}

.tracking-vertical {
    position: relative;
}

.tracking-item {
    position: relative;
    display: flex;
    gap: 1rem;
    width: 100%;
}

.tracking-item .track-icon {
    padding: 10px;
    z-index: 991;
}

.tracking-item .track-icon .track-icon-container {
    background: #23ad4c;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #fff;
}

.tracking-item .track-content {
    width: 100%;
    margin-right: 1rem;
}

.tracking-item::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 5px;
    background: #23ae4d;
    left: 22px;
    z-index: 990;
    margin-top: 20px;
}

.tracking-item:nth-last-child(-n + 1)::after {
    display: none!important;
}