@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        margin-top: 15px;
    } 100% {
        opacity: 1;
        margin-top: 0;
    }
}

.intro-y {
    animation: fadeIn .5s ease-in-out;
}

.main-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    display: flex;
    z-index: -1;
}
.hr-custom {
    border: 4px solid;
    border-color: #7C0041;
    opacity: 1;
}

.active-link {
    color: #014C90;
}

.navbar-nav {
    display: block;
    margin-right: 10px;
}

.nav-item {
    display: inline-block;
    list-style: none;
    padding: 5px;
    font-size: 15px;
}

.nav-dash {
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
}

.nav-dash:focus {
    color: #014C90;
}
.nav-link:focus {
    color: #014C90;
}

.nav-app:focus {
    color: #014C90;
}

/* Breakfix Daftar EQ */

.search-dropdown-breakfix {
    width: 100%;
    height: 50px;
    border-radius: 0;
    border: 1px solid #797979;
    padding-left: 10px;
    margin-bottom: 3%;
}

.search-dropdown-breakfix:focus {
  border: 2px solid #014C90;
  outline: none;
}

.dropdown-item-breakfix {
    font-size: 14px;
    padding: 10px 20px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid black;
  }
  
.dropdown-item-brakfix:hover {
    background-color: #f8f8f8;
}

/* Supplies Daftar EQ */

.search-dropdown-supplies {
    width: 100%;
    height: 50px;
    border-radius: 0;
    border: 1px solid #797979;
    padding-left: 10px;
    margin-bottom: 3%;
}

.search-dropdown-supplies:focus {
    border: 2px solid #014C90;
    outline: none;
}

.dropdown-item-supplies {
    font-size: 14px;
    padding: 10px 20px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid black;
}

.dropdown-item-supplies:hover {
    background-color: #f8f8f8;
}

/* Install Daftar EQ */
.search-dropdown-install {
    width: 100%;
    height: 50px;
    border-radius: 0;
    border: 1px solid #797979;
    padding-left: 10px;
    margin-bottom: 3%;
}

.search-dropdown-install:focus {
    border: 2px solid #014C90;
    outline: none;
}

.dropdown-item-install {
    font-size: 14px;
    padding: 10px 20px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #797979;
}

.dropdown-item-install:hover {
    background-color: #f8f8f8;
}

/* Dropdown */
/* CSS Kustom untuk menghilangkan tanda panah di NavDropdown */
.custom-dropdown .dropdown-toggle::after {
    display: none; /* Menghilangkan tanda panah ke bawah */
}

.navdropdown {
    position: absolute;
    top: 15px;
}

.dropdown:hover {
    background: none;
    color: #000;
}

/* Style the Dropdown Toggle */
.dropdown-toggle {
    font-size: 12px; /* Sesuaikan dengan ukuran font yang Anda gunakan pada item navbar lainnya */
    color: grey; /* Sesuaikan warna teks sesuai kebutuhan */
    text-decoration: none; /* Hilangkan underline pada tautan dropdown */
    background: none;
    border: none;
  }

  .dropdown-toggle:hover {
    background: none; 
    color: #000;
    text-decoration: none;
  }
  
  /* Style the Dropdown Menu */
  .dropdown-menu {
    width: 250px;
    background-color: #fff; /* Sesuaikan warna latar belakang sesuai kebutuhan */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Tambahkan bayangan sesuai kebutuhan */
  }
  
  /* Style Dropdown Items */
  .dropdown-item {
    font-size: 14px; /* Sesuaikan dengan ukuran font yang Anda gunakan pada item navbar lainnya */
    padding: 10px 20px; /* Sesuaikan padding sesuai kebutuhan */
    color: #000; /* Sesuaikan warna teks sesuai kebutuhan */
    text-decoration: none; /* Hilangkan underline pada tautan dropdown */
  }
  
  /* Hover effect on Dropdown Items */
  .dropdown-item:hover {
    background-color: #f8f8f8; /* Sesuaikan warna latar belakang saat hover sesuai kebutuhan */
  }
  
  /* Add responsiveness for smaller screens */
  @media (max-width: 768px) {
    /* Reset styles for Dropdown Toggle on smaller screens */
    .dropdown-toggle {
      font-size: 12px;
      color: grey;
      text-decoration: none;
    }
    /* Reset styles for Dropdown Items on smaller screens */
    .dropdown-item {
      padding: 10px 20px;
    }
  }

  /*tulis review*/
  .review-text::placeholder {
    display: none;
    color: #bfbfbf;
  }

  .review-container .review-text {
    padding-left: 10px;
  } 

/* .item-drop:hover {
    background-color: #f1f1f1;
} */

.text-link {
    font-size: 14px;
    color: #014C90;
    padding: 0;
}

.text-link:hover {
    background-color: #ebeef4;
}

.text-link:focus {
    color: #4154F1 !important;
}

.row-height {
    height: 90vh;
}

.border-only-bottom {
    border: none;
    border-bottom: 2px solid #cccccc !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    outline: none !important;
    padding: 5px 0;
    font-size: 14px;
    background: transparent;
}

.border-only-bottom:focus {
    border-bottom: 2px solid #41abf1 !important;
    background: transparent;
}

.border-only-bottom.invalid, .border-only-bottom.is-invalid{
    border-bottom: 1px solid #bc4a4a !important;
}

.border-only-bottom.invalid:focus, .border-only-bottom.is-invalid:focus{
    border-bottom: 2px solid #c00000 !important;
}

.btn-login {
    background-color: #014C90;
    color: #fff;
    font-size: 14px;
}

.btn-login:hover {
    background-color: #105ca3;
    color: #fff;
}

.size-13px {
    font-size: 13px;
    color: #014C90;
}

.title-icare {
    color: #014C90;
}

.card-about {
    background-color: #F6F9FF;
}

.description-icare {
    font-size: small;
}

.section-about {
    height: 60vh;
}

.custom-height {
    height: calc(100% - 3rem) !important;
} 

.list-items {
    color: #000 ;
    text-decoration: none ;
    font-size: 16px;
    margin-bottom: 3rem !important;
    display: block;
}

.footer-items {
    color: #000;
    text-decoration: none;
}

/* Checkbox normal tanpa tanda centang */
input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    position: relative;
}

/* Menggunakan pesawat pesawat sejajar untuk menyembunyikan tanda centang */
input[type="checkbox"]::before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
}

/* Checkbox color dengan latar belakang berwarna */
input[type="checkbox"].consumable-checkbox-color {
    background-color: transparent;
}

/* Mengatur latar belakang berwarna saat dicentang */
input[type="checkbox"].consumable-checkbox-color-toner-black:checked::before {
    background-color: black; /* Ganti dengan warna yang sesuai */
    border: 0; /* Menghilangkan garis tepi */
}

input[type="checkbox"].consumable-checkbox-color-toner-cyan:checked::before {
    background-color: cyan; /* Ganti dengan warna yang sesuai */
    border: 0; /* Menghilangkan garis tepi */
}

input[type="checkbox"].consumable-checkbox-color-toner-magenta:checked::before {
    background-color: magenta; /* Ganti dengan warna yang sesuai */
    border: 0; /* Menghilangkan garis tepi */
}

input[type="checkbox"].consumable-checkbox-color-toner-yellow:checked::before {
    background-color: yellow; /* Ganti dengan warna yang sesuai */
    border: 0; /* Menghilangkan garis tepi */
}

input[type="checkbox"].consumable-checkbox-color-drum-black:checked::before {
    background-color: black; /* Ganti dengan warna yang sesuai */
    border: 0; /* Menghilangkan garis tepi */
}

input[type="checkbox"].consumable-checkbox-color-drum-cyan:checked::before {
    background-color: cyan; /* Ganti dengan warna yang sesuai */
    border: 0; /* Menghilangkan garis tepi */
}

input[type="checkbox"].consumable-checkbox-color-drum-magenta:checked::before {
    background-color: magenta; /* Ganti dengan warna yang sesuai */
    border: 0; /* Menghilangkan garis tepi */
}

input[type="checkbox"].consumable-checkbox-color-drum-yellow:checked::before {
    background-color: yellow; /* Ganti dengan warna yang sesuai */
    border: 0; /* Menghilangkan garis tepi */
}

/* Search Daftar EQ */
.fa.fa-search {
    margin-right: 10px;
    color: #014C90;
}

.search input[type=text] {
    width: 300px;
    margin-right: 10px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.fa.fa-close {
    margin-right: 20px;
    color: #014C90;
}
  
.slick-list {
    max-height: 60vh;
    padding: 30px !important;
}
  
.slick-slide {
    transform: scale(.9);
    transition: 3s;
}

.slick-slide.slick-center {
    transform: scale(1.05);
    margin-left: 1rem;
    margin-right: 1rem;
    transition: 3s;
}


.slick-dots {
    bottom: -50px!important;
}

.slick-dots li {
    width: 10px!important;
    height: 10px!important;
    border: 1px solid #005cdc;
    border-radius: 50%;
    transition: .5s ease-in-out;
}

.slick-dots li.slick-active, .slick-dots li:hover {
    background: #005cdc;
    transition: .5s ease-in-out;
}

.slick-dots li button {
    opacity: 0;
}

.btn.disabled, .btn-secondary-custom {
    background-color: #9c9c9c;
    border: none;
    color: #fff;
}

.btn-secondary-custom:hover, .btn-secondary-custom:focus {
    background-color: #838383;
    border: none;
    color: #fff;
}

td {
    font-size: 14px;
}

.btn-proses {
    border: 1px solid #014C90;
    text-decoration: none;
    color: #014C90;
    background-color: #ffffff;
}

.btn-proses:hover {
    background-color: #f6f5ff;
}

.btn-proses:focus, .btn-proses.active {
    background-color: #014C90;
    color: #fff;
}

.input-error:disabled {
    background-color: #bfbfbf;
}

.input-error:focus {
    border-color:#00c8ff;
    outline: none;

}

.input-page {
    border: 1.5px solid;
}

.input-page:disabled {
    background-color: #fff;
}

.input-page:focus {
    border: 2px solid #00c8ff;
    outline: none;
}

.input-consumable {
    padding: 10px;
}

.input-consumable:disabled {
    background-color: #bfbfbf;
}

.input-consumable:focus {
    border-color:#00c8ff;
    outline: none;
}

.custom-width {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.no-hover {
    border: 1px solid black;
    height: 45px;
    width: 200px;
    border-radius: 0px;
}

.no-hover:focus {
    outline: none;
    border-color: black;
    box-shadow: none;
}

.data-diri {
    display: block;
    width: 100px;
    border: none;
    border-radius: 0px;
}

.form-check-input {
    border: 2px solid #797979;
}

.form-check-input:checked {
    box-shadow: none;
}

.form-check-input:focus {
    box-shadow: none;
}

.custom-radio:checked {
    background-color: green;
    border: green;
}

#inputFiles::file-selector-button {
    display: none;
}

#inputFilesSelfie::file-selector-button {
    display: none;
}

.tab-collect {
    color: black !important;

}

.tab-collect:focus {
    color:  rgba(1, 76, 144, 1) !important;
}

.link-riwayat-meter{
    text-decoration: none;
    color: black;
}



.scrolling-riwayat {
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* dashboard-banner */
.banner-desktop {
    position: relative;
    top: -25px; /* Sesuaikan dengan tinggi navbar Anda */
    z-index: 1; /* Pastikan banner ada di atas konten lain */
  }

.banner-news {
    max-width: 100%;
    height: auto;
}
  

/* review */
/* Gaya CSS untuk bintang */
.fa-star {
    color: #bfbfbf; /* Warna default bintang */
    cursor: pointer; /* Kursor berubah menjadi tangan saat diarahkan */
  }
  
  /* Gaya CSS untuk bintang yang dipilih (berwarna kuning) */
  .fa-star.yellow {
    color: #FEE717; /* Warna kuning */
  }


.btn-alert:hover {
    background: #005cdc !important;
}

.btn-remove {
    color: #014C90;
}

.btn-remove:hover {
    background: #d3e6ff;
    color: #014C90;
}

.custom-input-number::-webkit-outer-spin-button, .custom-input-number::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.btn-google {
    border-radius: 0;
    font-size: 14px;
    color: #9c9b9b !important;
}

.btn-google:hover {
    background: #edecec;
    box-shadow: rgba(20, 0, 10, 0) ;
}

.btn-google:focus {
    border: none;
}

.card-news {
    margin: 0 -1rem !important;
}

/*informasi desktop*/
.card-information.info-card {
    background-color: #014C90;
    transition: background-color 0.3s ease;
}

.card-information {
    background-color: white;
}

/* Media Query */
@media(max-width: 768px) {
    
    /* bottom-bar */
    .content-menus {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
    .menu-items { 
        height: calc(100vh - 60px);
        overflow-y: auto;
        padding-bottom: 3rem;
        position: relative;
    }
    .bottom-bar {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background: #014C90;
        color: #fff;
        padding: 15px 10px;
    }

    .bottom-bar a {
        color: #fefefe;
        text-decoration: none;
    }

    .bottom-bar a i {
        display: block;
        padding: 0;
        margin: 0;
    }

    .bottom-bar a span {
        font-size: 12px;
    }

    .bottom-bar .bottom-bar-line {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: calc(100% / 3);
        background: #fff;
    }
    .menus-bottom {
        font-weight: lighter;
    }
    .p-15px {
        padding: 15px !important;
    }

    /* form login */
    .background, .main-background {
        display: none;
    }
    .title-solusi {
        display: none;
    }
    .row-height {
        align-items: center;
        height: 100vh;
        margin: 0 !important;
    }
    .py-xs-0 {
        padding: 0 !important;
    }
    .row-height .card, .responsive-breakfix, .responsive-install .responsive-supplies {
        box-shadow: none !important;
        border: none !important;
    }
    .login-image {
        width: 100px;
        margin-bottom: 5rem;
    }
    .cp-mobile {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        font-size: 12px;
    }

    /* dashboard */
    .list-items {
        margin-bottom: 4rem !important;
    }
    .news h5.card-title {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .news p.card-text {
        font-size: 12px;
        margin-top: 1.5rem;
        margin-bottom: 1px;
    } 
    .news h4.card-title {
        font-weight: bold;
        font-size: 20px;
    }
    .card-news {
        flex-wrap: nowrap !important;
        flex-direction: row !important;
        overflow-x: scroll;
    }
    .card-news > * {
        margin: 5px 0 !important;
    } 
    .menus {
        margin-bottom: 11rem !important;
    }
    .menus-title {
        font-weight: normal !important;
        font-size: 12px !important; 
    }
    .menus-icon {
        width: 80% !important;
    }
    .banner-news {
        max-width: 100%;
        height: 100%;
    }


    /* navbar mobile */
    .responsive-bar {
        position: sticky;
        background: #014C90;
        top: 0;
        /* left: 0;
        right: 0; */
        width: 100% !important;
        z-index: 11111;
        padding: 20px 15px; 
    }  
    .responsive-bar ~ *:nth-child(1) {
        margin-top: 45px !important;
    }
    .responsive-bar * {
        color: #fff;
    }
    .responsive-bar > * {
        width: 100%!important;
        padding: 0!important;
    }
    .responsive-bar > a { 
        margin: 0 !important;
        padding: 0 !important;
    }
    .responsive-bar > a > i, .responsive-bar > a > span {
        color: #fff !important;
    }
    .responsive-bar > h5 { 
        margin: 0 !important;
        padding: 0 !important;
    }
    .responsive-bar .card-title > h5 , .responsive-bar .card-title > h5 {
        color: #fff !important;
    }
    .responsive-bar strong { 
        margin: 0 !important;
        padding: 0 !important;
    }
    .responsive-bar .card-title strong , .responsive-bar .card-title strong {
        color: #fff !important;
    }
    .title-fitur {
        font-weight: normal !important;
    }

    
    /* kebijakan privasi */
    .custom-card {
        border: none !important;
        border-radius: 5px !important;
        box-shadow: 0 1px 6px;
        margin-top: 1rem !important;
        padding-top: 10px !important;
        padding-left: 10px !important;
        padding-bottom: 20px !important;
        padding-right: 10px !important;
        max-height: 45vh;
        overflow-y: auto;
    }
    .custom-card > p {
        text-align: justify;
        font-size: 16px !important;
        line-height: 12px;

    }

    /* register */
    .responsive-register .card {
        box-shadow: none;
        border: none;
    }
    .input-mobile .size-13px {
        background: #014C90;
        width: 100%;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 5px;
    }
    .input-mobile label  {
        color: #fff !important;
        font-weight: normal !important;
    }
    .input-mobile .form-control {
        border: 1px solid #cccccc;
        margin-top: 0 !important;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
    }
    .input-mobile .form-control:focus {
        border: 2px solid #00c8ff;
    }
    .input-mobile .border-only-bottom.is-invalid, .border-only-bottom.invalid {
        border: 1px solid #bc4a4a !important;
    }
    .input-mobile .border-only-bottom.is-invalid, .border-only-bottom.invalid:focus {
        border: 2px solid #c00000 !important;
    }

    /* breakfix */
    .input-check .check-item {
        margin-bottom: 5px !important;
    }
    .input-check .check-item > label {
        font-size: 11px !important;
    }
    .input-check .form-check > label {
        font-size: 11px !important;
    }
    .btn-plus {
        height: 33px !important;
        width: 45px !important;
    }
    .select-option {
        height: 35px !important;
    }

    

    .form-breakfix {
        height: 35px !important;
        font-size: 12px;
    }

    .dropdown-breakfix {
        width: 72% !important;
        top: 11% !important;
    }

    .search-dropdown-breakfix:focus {
        border: 2px solid #014C90 !important;
        outline: none !important;
    }

    /* lupa-password */
    .responsive-lupa-pass .card {
        border: none !important;
        box-shadow: none !important;
    }

    /* kode-OTP */
    .bg-light {
        background: white !important;
    }
    .responsive-otp {
        display: flex;
        height: 100vh;
        justify-content: center !important;
        align-items: center !important;
    }
    .responsive-otp .card {
        border: none !important;
        box-shadow: none !important;
        margin-top: 65px;
        background: white !important;
    }
    .text-otp {
        text-align: center !important;
    }
    .responsive-otp .border-only-bottom {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    /* data-diri */
    .responsive-data-diri .card {
        border: none !important;
        box-shadow: none !important;
    }

    /* supplies */
    .responsive-supplies .card {
        box-shadow: none !important;
    }
    .label-supplies {
        font-size: 12px !important;
    }

    .responsive-supplies .consumable-checkbox {
        width: 15px !important;
        height: 15px !important;
    }

    .responsive-supplies .form-check-input {
        width: 15px !important;
        height: 15px !important;
    }

    .responsive-supplies .input-check .margin {
        width: 78% !important;
    }

    .responsive-supplies .input-check .check-check .input-consumable {
        width: 100% !important;
    }

    .search-dropdown-supplies {
        height: 35px !important;
    }

    .dropdown-supplies {
        width: 72% !important;
        top: 93px !important;
    }

    .search-dropdown-supplies:focus {
        border: 2px solid #014C90 !important;
        outline: none !important;
    }

    /* ubah-kata-sandi */
    .responsive-ubah-pass .card {
        border: none !important;
        box-shadow: none !important;
        margin-top: 35%;
    }

    .responsive-ubah-pass .label-update {
        font-size: 15px !important;
        color: #014C90 !important;
        margin-bottom: 4px;
    }

    /* berita-terbaru */
    .responsive-news {
        border: none !important;
        box-shadow: none !important;
        /* margin-top: 65px; */
        background: white !important;
    }
    .table-width {
        max-width: 100% !important;
    }
    .bottom-news{
        width: 45% !important;
    }
    .bottom-position {
        text-align: center !important;   
    }

    /* upgrade-step1 */
    .responsive-upgrade-step1 {
        padding-top: 55px;
    }
    .responsive-upgrade-step1 .fa {
        font-size: 5em !important;
    }
    .margin-bottom-90px {
        margin-bottom: 90px !important;
    }
    .responsive-upgrade-step1 .border-dark {
        border-radius: 10px !important;
        border-color: #014C90 !important;
        border-width: 3px !important;
        height: 305px !important;
        margin-bottom: 100px !important;
    }
    .responsive-upgrade-step1 img {
        width: 60% !important;
    }
    .responsive-upgrade-step1 .btn-login {
        padding: 15px 45px !important;
    }

    /* upgrade-step2 */
    .responsive-upgrade-step2 {
        border: none !important;
    }
    .responsive-upgrade-step2 .card-body {
        padding-top: 1rem !important;
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    .btn-photo {
        padding: 10px 13px !important;
    }
    .btn-photo-mobile {
        padding: 10px 4px !important;
    }
    .btn-selfie {
        padding: 10px 3px !important;
        width: 100% !important;
    }

    /* upgrade-step3 */
    .responsive-upgrade-step3 {
        padding-top: 250px !important;
    }
    .responsive-upgrade-step3 .text-center {
        margin-left: 2em !important;
        margin-right: 2em !important;
    }
    .responsive-upgrade-step3 .text-center img {
        width: 40% !important;
    }
    .responsive-upgrade-step3 h5 {
        font-size: 20px !important;
    }
    .responsive-upgrade-step3 h4 {
        font-size: 16px !important;
    }

    /* form-alamat */
    .responsive-form{
        border: none !important;
        box-shadow: none !important;
        background: white !important;
    }
    .default-height {
        height: auto !important;
    }
    .color-arrow-left {
        color: #fff !important;
    }

    /* informasi */
    .image-information {
        width: 60% !important;
    }
    .margin-close {
        margin-left: 95% !important;
    }

    .responsive-informasi .card {
        border: none !important;
        box-shadow: none !important;
    }

    .responsive-informasi p {
        font-size: 12px;
    }

    .responsive-informasi h6 {
        font-size: 14px;
    }

    .responsive-informasi i {
        font-size: 12px;
    }

    .card-information.info-card {
        background-color: #014C90;
        transition: background-color 0.3s ease;
    }

    .card-information {
        background-color: white;
    }

    .information-popup {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: white;
        display: block;
        border-radius: 25px 25px 0 0;
        border: 2px solid rgb(219, 219, 219);
    }

    .popup-button {
        margin: 0 !important;
    }

    .list-description {
        text-overflow: ellipsis !important;
        overflow: hidden !important;
        white-space: nowrap !important;
    }

    /* install-request */
    .responsive-install .card {
        padding-left: 0.25rem !important;
        padding-right: 0.25rem !important;
    }

    .form-install {
        height: 35px !important;
        font-size: 12px;
    }

    .dropdown-install {
        width: 72% !important;
        top: 93px !important;
    }

    .search-dropdown-install:focus {
        border: 2px solid #014C90 !important;
        outline: none !important;
    }

    /* Alamat */
    .h-address {
        height: 61px !important;
    }
    .responsive-address {
        margin-top: -25px !important;
    }
    .responsive-address .nav-item {
        font-size: 14px !important;
    }

    .responsive-eq {
        display: contents !important;
    }
    .text-position-right {
        text-align: end !important;
    }
    .text-position-center {
        text-align: center !important;
    }
    .responsive-eq img {
        height: 50px !important;
    }

    /* Tulis Review Rating */
    .responsive-tulis-review {
        border: none !important;
        box-shadow: none !important;
        margin-top: 15%;
    }

    .review-container .mt-2 {
        background-color: transparent !important;
        padding-bottom: 0 !important;
    }

    .review-container .review-text {
        padding: 0 !important;
    }

    /* Collect Meter */
    .responsive-collect-meter {
        box-shadow: none !important;
        border: none !important;
    }
    .button-foto-meter {
        width: 50% !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }

    .title-bold {
        font-weight: bold !important;
    }
}

